<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>SIESS</title>
  <link href="RecursosIndex/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="RecursosIndex/css/animate.min.css" rel="stylesheet" type="text/css"/>
  <link href="RecursosIndex/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="RecursosIndex/css/lightbox.css" rel="stylesheet" type="text/css"/>
  <link href="RecursosIndex/css/main.css" rel="stylesheet" type="text/css"/>
  <link id="css-preset" href="RecursosIndex/css/presets/preset1.css" rel="stylesheet"/>
  <link href="RecursosIndex/css/responsive.css" rel="stylesheet" type="text/css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'/>
  <link rel="shortcut icon" href="resources/assets/Koala.png"/>
  <link href="resources/css/estiloLogin.css" rel="stylesheet" type="text/css"/>
</head><!--/head-->

<body>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->

  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(RecursosIndex/images/slider/3.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenido a <span>SIESS</span></h1>
            <p class="animated fadeInRightBig">SISTEMA DE INFORMACIÓN PARA EQUIPOS DE SIMULACIÓN EN SALUD</p>
            <a data-scroll="true" class="btn btn-start animated fadeInUpBig" href="#portfolio">Empezar</a>
            <a data-scroll="true" class="btn btn-start animated fadeInUpBig"  onclick="document.getElementById('id01').style.display='block'">Iniciar Sesión</a>
            
           <div id="id01" class="modal">


                <h:form class="modal-content animate modal-login">
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display = 'none'" class="close" title="Close Modal"> </span>
                        <img src="resources/assets/Koala.png" alt="Avatar" class="avatar" ></img>
                    </div>
                    <p:growl id="growl" showDetail="true" life="3000"/>
                    <div>
                        <p:column>
                            <b><h:outputText value="Usuario" class="text"/></b>
                        </p:column>
                        <p:column>
                            <h:inputText id="login"
                                         value="#{usuarioController.selected.nombreusuario}"
                                         required="true"
                                         requiredMessage="El campo Login es obligatorio"
                                         maxlength="8" validatorMessage="solo letras y números; min 2 - máx 8">
                                <f:validateRegex pattern="^[abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ]{2,8}$"/>
                            </h:inputText>                
                            <br></br>
                        </p:column>
                        <br></br>
                        <p:column>
                            <b><h:outputText
                                    value="Contraseña" class="text"/></b>
                        </p:column>
                        <br></br>

                        <p:column>
                            <h:inputSecret id="password" value="#{usuarioController.selected.contrasena}"
                                           required="true"
                                           requiredMessage="El Campo Contraseña es obligatorio"/>
                        </p:column>
                        <br></br>


                        <p:commandButton class="btn btn-start animated fadeInUpBig" value="Entrar" image="ui-icon-key"
                                         action="#{usuarioController.autenticarUsuario()}"
                                         update="growl"/>
                        <!--<button type="submit" value="Entrar" >Entrar</button>-->

                    </div>

                    <div style="background-color:#f1f1f1">
                        <button type="button" onclick="document.getElementById('id01').style.display = 'none'" class="cancelbtn">Cancelar</button>

                    </div>
                </h:form>
            </div>
            
          </div>
        </div>
        <div class="item" style="background-image: url(RecursosIndex/images/slider/1.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Centro de simulación en <span>Salud</span></h1>
            <p class="animated fadeInRightBig">Centro de Comercio y servicios Regional-Cauca</p>
            <a data-scroll="true" class="btn btn-start animated fadeInUpBig" href="#portfolio">Empezar</a>
          </div>
        </div>
        <div class="item" style="background-image: url(RecursosIndex/images/slider/2.JPG)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Somos <span>SENA</span></h1>
            <p class="animated fadeInRightBig">Servicio Nacional de Aprendizaje</p>
            <a data-scroll="true" class="btn btn-start animated fadeInUpBig" href="#portfolio">Empezar</a>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#portfolio"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Barra de Navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">
              <h1><img class="img-responsive" src="resources/assets/Koala.png" alt="logo" width="60" height="60" style="alignment-adjust: auto" ></img></h1>
          </a>                    
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">                 
            <li class="scroll active"><a href="#home">Casa</a></li>                 
            <li class="scroll"><a href="#portfolio">Portafolio</a></li>
            <li class="scroll"><a href="#team">Equipo</a></li>
            <li class="scroll"><a href="#contact">Contactenos</a></li>            
          </ul>
        </div>
      </div>
    </div><!--/#main-nav-->
  </header><!--/#home-->
  
  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <h2>Nuestros Equipos de Simulación</h2>
          <p>El centro de simulación en salud cuenta con varios equipos para que los aprendices de enfermeria realicen sus practicas.</p>
        </div>
      </div> 
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img1.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipos</h3>
                    <p>Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img2.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipo</h3>
                    <p>para Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img2.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img8.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipo</h3>
                    <p>Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img8.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img4.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipo</h3>
                    <p>De Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img4.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img18.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipo</h3>
                    <p>De Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img18.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img30.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipo</h3>
                    <p>De Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img30.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img6.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipo</h3>
                    <p>De Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img6.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
                <img class="img-responsive" src="RecursosIndex/images/portfolio/img18.jpg" alt=""></img>
            </div>
            <div class="overlay">
              <div class="overlay-content">
                <div class="overlay-text">
                  <div class="folio-info">
                    <h3>Equipo</h3>
                    <p>De Simulación</p>
                  </div>
                  <div class="folio-overview">
                      <span class="folio-expand"><a href="RecursosIndex/images/portfolio/img18.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div><!-- /#portfolio-single-wrap -->
  </section><!--/#portfolio-->

  <section id="team">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
          <h2>El equipo</h2>
          <p>Aprendices de ANALISIS Y DESARROLLO DE SISTEMAS DE INFORMACIÓN</p>
        </div>
      </div>
      <div class="team-members">
        <div class="row">
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="member-image">
                  <img class="img-responsive" src="RecursosIndex/images/team/2.jpg" alt=""></img>
              </div>
              <div class="member-info">
                <h3>Valentina Sanchez</h3>
                <h4>Desarollador &amp; Analista</h4>
                <p>desarrollador de software</p>
              </div>
              <div class="social-icons">
                <ul>
                  <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100004582367516"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="https://twitter.com/Valenti92833706"><i class="fa fa-twitt   er"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
              <div class="member-image">
                  <img class="img-responsive" src="RecursosIndex/images/team/1.jpg" alt=""></img>
              </div>
              <div class="member-info">
                <h3>Victor Segovia</h3>
                <h4>Diseñador</h4>
                <p>Constructor de la Base de Datos</p>
              </div>
              <div class="social-icons">
                <ul>
                  <li><a class="facebook" href="https://www.facebook.com/ViictorSOrozco"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="https://twitter.com/VictorS_Orozco"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>            
    </div>
  </section><!--/#team-->

  <section id="features" class="parallax">
    <div class="container">
      <div class="row count">
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-user"></i>
          <h3 class="timer">4000</h3>
          <p>Happy Clients</p>
        </div>
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
          <i class="fa fa-desktop"></i>
          <h3 class="timer">200</h3>                    
          <p>Modern Websites</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
          <i class="fa fa-trophy"></i>
          <h3 class="timer">10</h3>                    
          <p>WINNING AWARDS</p>
        </div> 
        <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-comment-o"></i>                    
          <h3>24/7</h3>
          <p>Fast Support</p>
        </div>                 
      </div>
    </div>
  </section><!--/#features-->
  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam</p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Name" required="required"></input>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email Address" required="required"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <input type="text" name="subject" class="form-control" placeholder="Subject" required="required"></input>
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Enter your message" required="required"></textarea>
                </div>                        
                <div class="form-group">
                  <button type="submit" class="btn-submit">Send Now</button>
                </div>
              </form>   
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Address:</span> 2400 South Avenue A </li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> +928 336 2000  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:someone@yoursite.com"> support@oxygen.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.sitename.com</a></li>
                </ul>
              </div>                            
            </div>
          </div>
        </div>
      </div>
    </div>        
  </section><!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
            <a href="index.html"><img class="img-responsive" src="resources/assets/Koala.png" alt=""></img></a>
        </div>
        <div class="social-icons">
          <ul>
            <li><a class="envelope" href="#"><i class="fa fa-envelope"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li> 
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
      
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p> ` 2019 SENA CENTRO DE COMERCIO Y SERVICIOS REGIONAL-CAUCA.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="RecursosIndex/js/jquery.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/jquery.inview.min.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/wow.min.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/mousescroll.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/smoothscroll.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/jquery.countTo.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/lightbox.min.js" type="text/javascript"></script>
  <script src="RecursosIndex/js/main.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

</body>
</html>